/* Code: Vince a.k.a groGeek 2010  openardilla.org */
body {
    background:#F8F8F8;
    font-size: 11px;
    line-height: 14px;
    font-family:Verdana, Arial, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
p {
    font-family:Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    margin: 0px;
    padding: 0px;
    vertical-align:text-top;
}

h1 {
    font-family:Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    color: #42270D;
}

h2 {
    font-family:Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    color: #000000;
}

a, a:link {
    font-family:Verdana, Arial, sans-serif;
    text-decoration:none;
    font-size: 11px;
    color:#545454;
}

a:hover {
    font-family:Verdana, Arial, sans-serif;
    text-decoration:none;
    font-size: 11px;
    color:#B8590A;
}

a:visited.lienRss {
    font-family:Verdana, Arial, sans-serif;
    text-decoration:none;
    color:#545454;
}

a.lienRss, a:link.lienRss,a:hover.lienRss, .vins  {
    font-size: 10px;
}

#menu a, #menu a:link {
    font-size: 12px;
    text-decoration:none;
    color:#545454;
}

#menu a:hover {
    font-size: 12px;
    color:#B8590A;
}

ul {
    margin:0px 0px 0px 0px;
    padding:0px 8px 0px 0px;
}

li {
    display:inline;
    margin:0px;
    padding:0px 0px 0px 10px;
}

/* Start */
#container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
}

#log {
    width: 360px;
    position:relative;
    margin: 10px auto 0px 120px;
    padding: 0px 0px 0px 0px;
}

#menu {
    height: 25px;
    position:relative;
    padding:25px 0 0 0;
    background-color:#ccc;
    border-bottom:1px solid #7E3D07;
    color: #000000;

    font-size: 12px;
}

#menu a:hover, #sMenu a:hover {
    text-decoration:none;
}

#sMenu {
    position:relative;
    left:0px;
}

#contenu {
    margin:10px 10px 10px 10px;
    position:relative;
}

#flux {
    position: inherit;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

.rss {
    position: relative;
    margin-bottom:10px;
    padding:0px 10px 10px 10px;
    background-color:#FFFFFF;
    border:1px solid #DCDBDC;
}

.titre {
    font-family:Verdana, Arial, sans-serif;
    font-size: 9px;
}

.aDroite {
    text-align: right;
}

#someid {
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
    -ms-zoom: 0.4;
    position:absolute;
    background-color:#fff;
}

#framePreview {
    overflow-x: hidden;
    overflow-y: hidden;
}

.error {
    color:#f00;
    font-weight:bold;
}

.error p{
    color:#333232;
    font-weight:bold;
}

.feedbox {
    float:left;
    width:314px;
    height:240px;
    margin:0 .9em .9em 0;
    padding:.8em;
    overflow:auto;
    border:1px solid #7E3D07;
    background-color:#fff;
}

.feedbox li {
    display: block;
}

.feedbox ul li {
    line-height:16px;
}

.loadingfeed img {
    display:block;
    margin:5em auto;
}


/* dark theme */

@media (prefers-color-scheme: dark) {
    body, h1, h2, h3, h4, h5, h6 {
        color: #d9d8dc;
        background-color: #222222;
    }

    a, a:link  {
        color: #eb99a1;
    }
    a:hover, a:visited  {
        color: #DA4453;
        border-bottom: 2px solid #d9d8dc;
    }

    .feedbox {
        background-color: #222222;
        border-color: #eb99a1;
    }

    #menu {
        color: #DA4453;
        background-color: #222222;
        border-bottom: 1px solid #eb99a1;
    }

    #menu a, #menu a:link {
        color: #eb99a1;
    }

    .error p{
        color:#ccccff;
        font-weight:bold;
    }
}

